<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mrs.greenapple - wakai hiroto</title>
</head>
<body>
    <h1>mrs.greenapple</h1>
    <h2>wakai hiroto</h2>
    <img src="https://i.namu.wiki/i/2ukeg7LiJMQB3JpbyPizTNHav8gq_xX2FlpeG7_UKrAUTLjJrATFtcIbcHyzEK-JM2hAfGYSQuRLhKCiM0Yapw.webp"
    style="border-radius: 50%">
</body>
</html>